* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background: #fff url('imagens/fundo.png') repeat-x;
   overflow-x: hidden;
}

#container {
   width: 750px;
   margin: 0 auto;
}

#topo {
   height: 180px;
   background: url('imagens/detalhe-topo.png') no-repeat right top;
   padding-top: 25px;
}

.logo {
   width: 152px;
   height: 66px;
   background: url('imagens/logo.png') no-repeat left;
   text-indent: -2000px;
}

/* Barra de navegação*/

ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

/*Barra topo*/

#topo ul {
   background: #b10333;
   margin-top: 30px;
   float: left;
   margin-top: 40px;
   border-radius: 2px;
}

#topo ul li {
   float: left;
}

#topo ul a {
   text-decoration: none;
   font-size: 15px;
   display: block;
   padding: 5px 20px;
   line-height: 25px;
   color: #fff;
   background: url('imagens/divisor.png') no-repeat left center;
}

#topo ul .primeiro a { /* Retirar o divisor do primeiro item do menu*/
   background: none;
   border-radius: 2px;
}

#topo ul a:hover{
   color: #69001d;  
   border-radius: 2px;
}

body.home #navegacao a#home, 
body.brasil #navegacao a#brasil,
body.fotos #navegacao a#fotos {
   color: #fff;
   background: #de003e;
   cursor: text;
   border-radius: 2px;
}
/*Fim Barra topo*/

/*Barra Lateral*/

#lateral ul a {
   font-size: 0.9em;
   padding: 3px;
   line-height: 30px;
   display: block;
   color: #000;
   text-decoration: none;
   border-bottom: 1px solid #f3f3f3;
}

label {
   display: block;
   cursor: pointer;
}

input {
   width: 140px;
   padding: 5px ;
   font-size: 0.9em;
   background-color: #fff;
}

input.submit {
   width: 80px;
   margin-top: 5px;
   color: #fff;
   background-color: #b10333;
   border: 2px solid #870529;
   
}

#lateral ul a:hover {
   background: url('imagens/marcador.png') no-repeat left center;
   padding-left: 20px;
   color: #a1a1a1;  
}

/*Fim Barra Lateral*/

/*Barra de Notícias*/

#lista-noticias li {
   padding: 2px;
   border-bottom: 1px solid #ccc;
   height: 62px;
}

#lista-noticias li a h5 {
   font-size: 14px;
   color: #3e7ab9;
}

#lista-noticias li a img{
   float: left;
   margin: 5px;
}

#lista-noticias li a {
   text-decoration: none;
   font-size: 12px;
}

#lista-noticias li:hover {
   background-color: #eee;
}

/* Fim da Barra de Notícias*/

/* Fim da Barra de navegação*/

/*Conteudos*/

#conteudo {
   background-color: #fefefeb7;
   margin-top:40px;
}

#lateral {
   float: left;
   width: 180px;
   margin: 0 0 40px -750px;
}

.caixa {
   background: url('imagens/fundo-caixa.png');
   margin: 10px 0;
   padding: 5px;
}

h3 {
   font-size: 1.1em;
   background-color: #294c71;
   color: #fff;
   padding: 5px;
   border-radius: 2px;
}

.caixa-conteudo {
   background-color: #fff;
   padding: 5px;
   margin-top: 5px;
}

#primario { /*Conteúdo principal*/
   float: left;
   width: 270px;
   margin: 0 0 40px 195px;
}

h4 {
   background-color: #de003e;
   width: 200px;
   padding: 3px;
   border-radius: 2px;
   margin-bottom: 5px;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.185);
}

img {
   border-radius: 2px;
   margin-bottom: 5px;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
}

#primario p a, #secundario p a {
   color: #de003e;
}

#duas-colunas #primario {
   width: 555px;
}

#uma-coluna #primario {
   width: 750px;
   margin: 0 0 40px 0;
}
   /*Fim conteúdo principal*/
#secundario {
   float: left;
   width: 270px;
   margin: 0 0 40px 15px;
}

/*Fim Conteudos*/

/*Rodapé*/

#rodape {
   clear: both;
   width: 100%;
   background-color: #294c71;
   color: #fff;
   text-align: center;
   padding: 20px;
   bottom: 0;
}